eps-adf-datalake-dev-001/PartialArmTemplates/ArmTemplate_11_20_2020_13_3_44.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "eps-adf-datalake-dev-001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/GetPowerBiListAndRefreshData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupPowerBiList",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.02:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select name, datasetid from dbo.BD_refresh_job",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LookupPowerBiList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "IterateAndRefreshPBI",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-06T04:33:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/IterateAndRefreshPBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InitializeGuzzleBatchRun')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set Context Params",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "contextParams",
							"value": {
								"value": "@string(json(pipeline().parameters.initialize_batch_body)['contextParams'])",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set System",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Context Params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "system",
							"value": {
								"value": "@json(variables('contextParams'))['system']",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Location",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Context Params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "location",
							"value": {
								"value": "@if(contains(json(variables('contextParams')), 'location'), json(variables('contextParams'))['location'], 'NA')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Stages",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "stages",
							"value": {
								"value": "@split(json(pipeline().parameters.run_stage_body)['parameters']['stage'], ',')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Initialize Batch",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set System",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Location",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Stages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "POST",
									"additionalHeaders": "Content-Type: application/json",
									"requestBody": {
										"value": "@{pipeline().parameters.initialize_batch_body}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Initialize_Batch",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Wait Until Started",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Initialize Batch",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greaterOrEquals(activity('GetCount').output.firstRow.count, 1)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait5Seconds",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 10
									}
								},
								{
									"name": "GetCount",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Wait5Seconds",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select count(*) as count from dbo.batch_control where business_date='@{pipeline().parameters.business_date}' and system='@{variables('system')}' @{if(equals(variables('location'), 'NA'), '', concat('and location', if(equals(variables('location'), 'null'), ' is null', concat('=''', variables('location'), ''''))))}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "GuzzleDB",
											"type": "DatasetReference"
										}
									}
								}
							],
							"timeout": "2.0:01:00"
						}
					},
					{
						"name": "Run Stage",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GetAllBatchesByContexts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "POST",
									"additionalHeaders": "Content-Type: application/json",
									"requestBody": {
										"value": "@{pipeline().parameters.run_stage_body}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Run_Stage",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "GetAllBatchesByContexts",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Wait Until Started",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select batch_id from dbo.batch_control where system='@{variables('system')}' @{if(equals(variables('location'), 'NA'), '', concat('and location', if(equals(variables('location'), 'null'), ' is null', concat('=''', variables('location'), ''''))))} and (batch_status='OPEN' or batch_status='FAILED') order by business_date",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "GuzzleDB",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "TrackAllBatchesSequentially",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Run Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetAllBatchesByContexts').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@not(variables('failureFlag'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "WaitUntilBatchFinishes",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "TrackGuzzleBatchRun",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"batch_id": {
															"value": "@item()['batch_id']",
															"type": "Expression"
														},
														"stages": {
															"value": "@variables('stages')",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "Set Failure Flag",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "WaitUntilBatchFinishes",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "failureFlag",
													"value": true
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "RaiseExceptionIfFailure",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "TrackAllBatchesSequentially",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "status",
							"value": {
								"value": "@if(variables('failureFlag'), 1, 'SUCCESS')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "parameters",
							"value": "json(pipeline().parameters.run_stage_body)['parameters']"
						}
					}
				],
				"parameters": {
					"initialize_batch_body": {
						"type": "string"
					},
					"run_stage_body": {
						"type": "string"
					},
					"business_date": {
						"type": "string"
					}
				},
				"variables": {
					"business_date": {
						"type": "String"
					},
					"stages": {
						"type": "Array"
					},
					"failureFlag": {
						"type": "Boolean"
					},
					"contextParams": {
						"type": "String"
					},
					"system": {
						"type": "String"
					},
					"location": {
						"type": "String"
					},
					"status": {
						"type": "String"
					},
					"parameters": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-10-06T04:33:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IterateAndRefreshPBI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateSQLTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.powerbiList",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "PowerBI_DataSet_Refresh",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PowerBI_DataSet_Refresh_Test_Loop",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TenantId": "bc5c7327-b12e-48db-a856-175591ecd2f0",
											"SPClientId": "8465ee6f-bb69-480c-9dd9-7ae4b9c81514",
											"SPSecret": "lkh-9MjYN-Bf7GZ8vKt98~_y7SK01aAwKS",
											"PBIAppWorkspaceId": "2f2ce11d-59ad-4e92-96cc-82aaaab85444",
											"PBIDatasetId": {
												"value": "@{item().datasetid}",
												"type": "Expression"
											},
											"Email": "thao.nguyen@justanalytics.com"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"powerbiList": {
						"type": "array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-10-06T04:33:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PowerBI_DataSet_Refresh_Test_Loop')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PowerBI_DataSet_Refresh_Test_Loop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Oauth2 Login",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantId,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat('grant_type=client_credentials&resource=https://analysis.windows.net/powerbi/api&client_id=',pipeline().parameters.SPClientId,'&client_secret=',encodeUriComponent(pipeline().parameters.SPSecret))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Call Dataset Refresh",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Oauth2 Login",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups/',pipeline().parameters.PBIAppWorkspaceId,'/datasets/',pipeline().parameters.PBIDatasetId,'/refreshes')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "@concat(string(activity('Oauth2 Login').output.token_type),' ',string(activity('Oauth2 Login').output.access_token))",
									"type": "Expression"
								}
							},
							"body": {
								"helloww": "worldddd"
							}
						}
					},
					{
						"name": "Until Refresh Complete",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Call Dataset Refresh",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(equals('Unknown',variables('RefreshStatus')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 30
									}
								},
								{
									"name": "Get Dataset Refresh Status",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Wait1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups/',pipeline().parameters.PBIAppWorkspaceId,'/datasets/',pipeline().parameters.PBIDatasetId,'/refreshes?$top=1')",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {
											"Authorization": {
												"value": "@concat(string(activity('Oauth2 Login').output.token_type),' ',string(activity('Oauth2 Login').output.access_token))",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set RefreshStatus",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get Dataset Refresh Status",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshStatus",
										"value": {
											"value": "@activity('Get Dataset Refresh Status').output.value[0].status",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Until Refresh Complete",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('RefreshStatus'),'Completed')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PowerBI_Refresh_Failure_Email",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"emails": {
												"value": "@pipeline().parameters.Email",
												"type": "Expression"
											},
											"datetime": {
												"value": "@pipeline().parameters.Datetime",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "RaiseException",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Execute Pipeline1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshStatus",
										"value": {
											"value": "@add(1, 1)",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "PowerBI_Refresh_Success_Email_Call",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PowerBI_Refresh_Success_Email",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"emails": {
												"value": "@pipeline().parameters.Email",
												"type": "Expression"
											},
											"datetime": {
												"value": "@pipeline().parameters.Datetime",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"TenantId": {
						"type": "String",
						"defaultValue": "bc5c7327-b12e-48db-a856-175591ecd2f0"
					},
					"SPClientId": {
						"type": "String",
						"defaultValue": "8465ee6f-bb69-480c-9dd9-7ae4b9c81514"
					},
					"SPSecret": {
						"type": "String",
						"defaultValue": "lkh-9MjYN-Bf7GZ8vKt98~_y7SK01aAwKS"
					},
					"PBIAppWorkspaceId": {
						"type": "string",
						"defaultValue": "2f2ce11d-59ad-4e92-96cc-82aaaab85444"
					},
					"PBIDatasetId": {
						"type": "string",
						"defaultValue": "16a5b79d-342f-4963-b322-075143d67647"
					},
					"Email": {
						"type": "string",
						"defaultValue": "agnit.chatterjee@justanalytics.com"
					},
					"Datetime": {
						"type": "string"
					}
				},
				"variables": {
					"RefreshStatus": {
						"type": "String",
						"defaultValue": "Unknown"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-10-24T14:21:25Z"
			},
			"dependsOn": []
		}
	]
}