adf/pipeline/EmailNotificationPipeline.json
{
	"name": "EmailNotificationPipeline",
	"properties": {
		"activities": [
			{
				"name": "SendEmailNotification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-00.southeastasia.logic.azure.com:443/workflows/c1bbc02c47184d6cba62ced65a886226/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=svZ8t14z6UXZIh6XO39Fvz7saqdC_zpuMzSux6cN_LM",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n  \"pipeline_name\": \"@{pipeline().parameters.pipeline_name}\",\n  \"pipeline_id\": \"@{pipeline().parameters.pipeline_id}\",\n  \"status\":\"@{pipeline().parameters.status}\",\n  \"data_factory_name\":\"@{pipeline().DataFactory}\",\n  \"business_date\": \"@{pipeline().parameters.business_date}\",\n  \"start_time\": \"@{addhours(pipeline().parameters.start_time,8)}\",\n  \"end_time\": \"@{addhours(pipeline().parameters.end_time,8)}\",\n   \"failure_info\": \"@{variables('msg')}\",\n  \"emails\": \"@{pipeline().parameters.emails}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "msg",
					"value": {
						"value": "@replace(replace(pipeline().parameters.failure_info,'\"',''),'''','')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"emails": {
				"type": "string"
			},
			"pipeline_name": {
				"type": "string"
			},
			"pipeline_id": {
				"type": "string"
			},
			"status": {
				"type": "string"
			},
			"business_date": {
				"type": "string"
			},
			"start_time": {
				"type": "string"
			},
			"end_time": {
				"type": "string"
			},
			"failure_info": {
				"type": "string"
			}
		},
		"variables": {
			"emails": {
				"type": "String"
			},
			"msg": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-11-17T12:20:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}