adf/pipeline/PowerBI_DataSet_Refresh_Trial_Balance.json
{
	"name": "PowerBI_DataSet_Refresh_Trial_Balance",
	"properties": {
		"activities": [
			{
				"name": "Oauth2 Login",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantId,'/oauth2/token')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat('grant_type=client_credentials&resource=https://analysis.windows.net/powerbi/api&client_id=',pipeline().parameters.SPClientId,'&client_secret=',encodeUriComponent(pipeline().parameters.SPSecret))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Call Dataset Refresh",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Oauth2 Login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups/',pipeline().parameters.PBIAppWorkspaceId,'/datasets/',pipeline().parameters.PBIDatasetId,'/refreshes')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat(string(activity('Oauth2 Login').output.token_type),' ',string(activity('Oauth2 Login').output.access_token))",
							"type": "Expression"
						}
					},
					"body": {
						"helloww": "worldddd"
					}
				}
			},
			{
				"name": "Until Refresh Complete",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Call Dataset Refresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals('Unknown',variables('RefreshStatus')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						},
						{
							"name": "Get Dataset Refresh Status",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups/',pipeline().parameters.PBIAppWorkspaceId,'/datasets/',pipeline().parameters.PBIDatasetId,'/refreshes?$top=1')",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@concat(string(activity('Oauth2 Login').output.token_type),' ',string(activity('Oauth2 Login').output.access_token))",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set RefreshStatus",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Dataset Refresh Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RefreshStatus",
								"value": {
									"value": "@activity('Get Dataset Refresh Status').output.value[0].status",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Until Refresh Complete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('RefreshStatus'),'Completed')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PowerBI_Refresh_Failure_Email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"emails": {
										"value": "@pipeline().parameters.Email",
										"type": "Expression"
									},
									"datetime": {
										"value": "@pipeline().parameters.Datetime",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "RaiseException",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RefreshStatus",
								"value": {
									"value": "@add(1, 1)",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "PowerBI_Refresh_Success_Email_Call",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PowerBI_Refresh_Success_Email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"emails": {
										"value": "@pipeline().parameters.Email",
										"type": "Expression"
									},
									"datetime": {
										"value": "@pipeline().parameters.Datetime",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Pause_Synapse_Call",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "PowerBI_Refresh_Success_Email_Call",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Pause_Synapse",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TenantId": {
				"type": "String",
				"defaultValue": "cc3f0441-9868-4f81-a6f2-6d91c68fe354"
			},
			"SPClientId": {
				"type": "String",
				"defaultValue": "f2128599-61e0-4ec8-aa6d-de904319802d"
			},
			"SPSecret": {
				"type": "String",
				"defaultValue": "7qLOQ8e956yGNvpbHwf.E.LoFu_~KA527X"
			},
			"PBIAppWorkspaceId": {
				"type": "string",
				"defaultValue": "e25d3b9f-7534-4f0c-b663-6d88d8fc9dab"
			},
			"PBIDatasetId": {
				"type": "string",
				"defaultValue": "40dfb6ec-fdd8-4bec-bdce-e2068534a7b3"
			},
			"Email": {
				"type": "string",
				"defaultValue": "agnit.chatterjee@justanalytics.com"
			},
			"Datetime": {
				"type": "string"
			}
		},
		"variables": {
			"RefreshStatus": {
				"type": "String",
				"defaultValue": "Unknown"
			}
		},
		"annotations": []
	}
}