adf/pipeline/TrackGuzzleBatchRun.json
{
	"name": "TrackGuzzleBatchRun",
	"properties": {
		"activities": [
			{
				"name": "WaitForAllStagesToFinish",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.stages",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(variables('failureFlag'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "WaitUntilStageFinished",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "TrackGuzzleStageRun",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"stage": {
													"value": "@concat(trim(item()), '_status')",
													"type": "Expression"
												},
												"batch_id": {
													"value": "@pipeline().parameters.batch_id",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Set Failure Flag",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "WaitUntilStageFinished",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "failureFlag",
											"value": true
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "RaiseExceptionIfFailure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WaitForAllStagesToFinish",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "status",
					"value": {
						"value": "@if(variables('failureFlag'), 1, 'SUCCESS')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"batch_id": {
				"type": "string"
			},
			"stages": {
				"type": "array"
			}
		},
		"variables": {
			"failureFlag": {
				"type": "Boolean"
			},
			"status": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-07-17T16:07:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}