epsdldatafactory/PartialArmTemplates/ArmTemplate_11_20_2020_13_58_34.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "epsdldatafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/GetPowerBiListAndRefreshData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupPowerBiList",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.02:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select name, datasetid from dbo.BD_refresh_job",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable_PBI",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LookupPowerBiList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "IterateAndRefreshPBI",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-11-20T06:24:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable_PBI')]",
				"[concat(variables('factoryId'), '/pipelines/IterateAndRefreshPBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IterateAndRefreshPBI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IteratePowerBI",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.powerbiList",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "PowerBI_DataSet_Refresh",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PowerBI_DataSet_Refresh_Test_Loop",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TenantId": "bc5c7327-b12e-48db-a856-175591ecd2f0",
											"SPClientId": "8465ee6f-bb69-480c-9dd9-7ae4b9c81514",
											"SPSecret": "lkh-9MjYN-Bf7GZ8vKt98~_y7SK01aAwKS",
											"PBIAppWorkspaceId": "2f2ce11d-59ad-4e92-96cc-82aaaab85444",
											"PBIDatasetId": {
												"value": "@{item().datasetid}",
												"type": "Expression"
											},
											"Email": "thao.nguyen@justanalytics.com"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"powerbiList": {
						"type": "array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-11-20T06:24:19Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable_PBI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "JOB_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "MODULE_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "JOB_GROUP",
						"type": "varchar"
					},
					{
						"name": "JOB_NAME",
						"type": "varchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "JOB_TYPE",
						"type": "varchar"
					},
					{
						"name": "JOB_SCRIPT",
						"type": "varchar"
					},
					{
						"name": "JOB_SCRIPT_MANUAL",
						"type": "varchar"
					},
					{
						"name": "LAST_RUNTIME_TS",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PRIMARY_SRC_TABLE",
						"type": "varchar"
					},
					{
						"name": "PRIMARY_TGT_TABLE",
						"type": "varchar"
					},
					{
						"name": "CONTINUE_ON_ERROR_FLG",
						"type": "char"
					},
					{
						"name": "INACTIVE_FLG",
						"type": "char"
					},
					{
						"name": "ATTR1",
						"type": "varchar"
					},
					{
						"name": "ATTR2",
						"type": "varchar"
					},
					{
						"name": "ATTR3",
						"type": "varchar"
					},
					{
						"name": "ATTR4",
						"type": "varchar"
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "CREATED_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LAST_UPDATED_BY",
						"type": "varchar"
					},
					{
						"name": "LAST_UPDATED_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FULL_LOAD_FLAG",
						"type": "char"
					},
					{
						"name": "PRUNE_DAYS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "INITIAL_EXTRACT_DATE",
						"type": "date"
					},
					{
						"name": "JOB_PHASE",
						"type": "varchar"
					},
					{
						"name": "excution_fullload_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "BD_refresh_job"
				}
			},
			"dependsOn": []
		}
	]
}