epsdldatafactory/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "epsdldatafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "test-data",
						"container": "epsdlcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Customer",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "Value1",
						"type": "String"
					},
					{
						"name": "Value2",
						"type": "String"
					},
					{
						"name": "Value3",
						"type": "String"
					},
					{
						"name": "Value4",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OracleTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "TANKPAC",
					"table": "SUPPLIER_INVOICING"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OracleTable_Single_Use')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "DANAOS",
					"table": "BP_PORTS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OracleTable_Single_Use_AGNIT_TESTING')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "BIUSER1",
					"table": "VW_VESSEL_DRY_DOCK_DETAILS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oracle_Data_Lake_Tables')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "EBI_UAT",
					"table": "REQUISITIONS_CATEGORY"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oracle_danaos_production')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle_Danaos_Production",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "DANAOS",
					"table": "TELEGRAMS_CUSTOM"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().filename,'_',formatDateTime(addhours(utcnow(),8),'yyyyMMdd'),'_000000.parquet')",
							"type": "Expression"
						},
						"folderPath": "epsdl/data/landing/",
						"container": "epsdlcontainer"
					},
					"compressionCodec": "none"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_DataLake_Tables_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat('requisitions_category','.parquet')",
							"type": "Expression"
						},
						"folderPath": "epsdl/data/landing",
						"container": "epsdlcontainer"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_Single_Copy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat('bp_ports_',formatDateTime(addhours(utcnow(),8),'yyyyMMdd'),'_000000.parquet')",
							"type": "Expression"
						},
						"folderPath": "epsdl/data/landing",
						"container": "epsdlcontainer"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "COMPANY",
						"type": "UTF8"
					},
					{
						"name": "SHORT_NAME",
						"type": "UTF8"
					},
					{
						"name": "NAME",
						"type": "UTF8"
					},
					{
						"name": "MANAGED_BY",
						"type": "UTF8"
					},
					{
						"name": "COMPANY_GROUP",
						"type": "UTF8"
					},
					{
						"name": "CHART",
						"type": "UTF8"
					},
					{
						"name": "COMPANY_TYPE",
						"type": "UTF8"
					},
					{
						"name": "BASE_CURRENCY",
						"type": "UTF8"
					},
					{
						"name": "REMARKS",
						"type": "UTF8"
					},
					{
						"name": "GROUP_FLAG_1",
						"type": "UTF8"
					},
					{
						"name": "GROUP_FLAG_2",
						"type": "UTF8"
					},
					{
						"name": "OFFICIAL_CURRENCY",
						"type": "UTF8"
					},
					{
						"name": "GLOBAL_VESSEL_ID",
						"type": "UTF8"
					},
					{
						"name": "CREATE_INTERCOMPANIES",
						"type": "UTF8"
					},
					{
						"name": "IS_FILING",
						"type": "UTF8"
					},
					{
						"name": "ACTIVE_FLAG",
						"type": "UTF8"
					},
					{
						"name": "COMPANY_LEVEL",
						"type": "DECIMAL",
						"precision": 38,
						"scale": 18
					},
					{
						"name": "BANK_LEDGER",
						"type": "UTF8"
					},
					{
						"name": "GROUP_DETAILS_FROM",
						"type": "INT96"
					},
					{
						"name": "GROUP_DETAILS_TO",
						"type": "INT96"
					},
					{
						"name": "TONNAGE_TAX_FROM",
						"type": "INT96"
					},
					{
						"name": "TONNAGE_TAX_TO",
						"type": "INT96"
					},
					{
						"name": "VAT_GROUP_FROM",
						"type": "INT96"
					},
					{
						"name": "VAT_GROUP_TO",
						"type": "INT96"
					},
					{
						"name": "INCEXP_MANAGED_BY",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_Single_Copy_AGNIT_TESTING')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat('supply_items_',formatDateTime(addhours(utcnow(),8),'yyyyMMdd'),'_000000.parquet')",
							"type": "Expression"
						},
						"folderPath": "epsdl/data/landing",
						"container": "epsdlcontainer"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "COMPANY",
						"type": "UTF8"
					},
					{
						"name": "SHORT_NAME",
						"type": "UTF8"
					},
					{
						"name": "NAME",
						"type": "UTF8"
					},
					{
						"name": "MANAGED_BY",
						"type": "UTF8"
					},
					{
						"name": "COMPANY_GROUP",
						"type": "UTF8"
					},
					{
						"name": "CHART",
						"type": "UTF8"
					},
					{
						"name": "COMPANY_TYPE",
						"type": "UTF8"
					},
					{
						"name": "BASE_CURRENCY",
						"type": "UTF8"
					},
					{
						"name": "REMARKS",
						"type": "UTF8"
					},
					{
						"name": "GROUP_FLAG_1",
						"type": "UTF8"
					},
					{
						"name": "GROUP_FLAG_2",
						"type": "UTF8"
					},
					{
						"name": "OFFICIAL_CURRENCY",
						"type": "UTF8"
					},
					{
						"name": "GLOBAL_VESSEL_ID",
						"type": "UTF8"
					},
					{
						"name": "CREATE_INTERCOMPANIES",
						"type": "UTF8"
					},
					{
						"name": "IS_FILING",
						"type": "UTF8"
					},
					{
						"name": "ACTIVE_FLAG",
						"type": "UTF8"
					},
					{
						"name": "COMPANY_LEVEL",
						"type": "DECIMAL",
						"precision": 38,
						"scale": 18
					},
					{
						"name": "BANK_LEDGER",
						"type": "UTF8"
					},
					{
						"name": "GROUP_DETAILS_FROM",
						"type": "INT96"
					},
					{
						"name": "GROUP_DETAILS_TO",
						"type": "INT96"
					},
					{
						"name": "TONNAGE_TAX_FROM",
						"type": "INT96"
					},
					{
						"name": "TONNAGE_TAX_TO",
						"type": "INT96"
					},
					{
						"name": "VAT_GROUP_FROM",
						"type": "INT96"
					},
					{
						"name": "VAT_GROUP_TO",
						"type": "INT96"
					},
					{
						"name": "INCEXP_MANAGED_BY",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_production')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat('telegrams_custom','.parquet')",
							"type": "Expression"
						},
						"folderPath": "epsdl/data/landing/",
						"container": "epsdlcontainer"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy_IMOS_Parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 1
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "Decimal",
											"ordinal": 1
										},
										"sink": {
											"name": "Agreed_Speed",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 2
										},
										"sink": {
											"name": "Agreed_Speed_Cons",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 3
										},
										"sink": {
											"name": "Agreed_Speed_Engine_Load",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 4
										},
										"sink": {
											"name": "Anchorage_Delay",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "Arr_Dep_Status",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "DateTime",
											"ordinal": 6
										},
										"sink": {
											"name": "Arrival_Local",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "Ballast_Laden_From_Port",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "Ballast_Laden_to_Port",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 9
										},
										"sink": {
											"name": "Berth_to_Pilot",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "Cargo_Inspector",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "Cargo_Scheduler",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 12
										},
										"sink": {
											"name": "Dem_Des_Days",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 13
										},
										"sink": {
											"name": "Dem_Des_Rate",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "DateTime",
											"ordinal": 14
										},
										"sink": {
											"name": "Departure_Local",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 15
										},
										"sink": {
											"name": "Est_Cost_Base",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "DateTime",
											"ordinal": 16
										},
										"sink": {
											"name": "Eta_Gmt",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "DateTime",
											"ordinal": 17
										},
										"sink": {
											"name": "ETB",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "DateTime",
											"ordinal": 18
										},
										"sink": {
											"name": "Etd_Gmt",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 19
										},
										"sink": {
											"name": "Extra_Port_Days",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 20
										},
										"sink": {
											"name": "Extra_Sea_Days",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 21
										},
										"sink": {
											"name": "Fixture_No",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 22
										},
										"sink": {
											"name": "Idle_Days",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 23
										},
										"sink": {
											"name": "Instructed_SAT_Local",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 24
										},
										"sink": {
											"name": "Instructed_Speed",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 25
										},
										"sink": {
											"name": "Is_Current_Port_Call",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "DateTime",
											"ordinal": 26
										},
										"sink": {
											"name": "Last_Update_Gmt",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 27
										},
										"sink": {
											"name": "Last_User_ID",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 28
										},
										"sink": {
											"name": "Low_Speed_Days",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 29
										},
										"sink": {
											"name": "Low_Speed_Miles",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 30
										},
										"sink": {
											"name": "LS_Miles",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 31
										},
										"sink": {
											"name": "LS_Port_Days",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 32
										},
										"sink": {
											"name": "LS_Sea_Days",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 33
										},
										"sink": {
											"name": "Master_Seq",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 34
										},
										"sink": {
											"name": "Miles",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 35
										},
										"sink": {
											"name": "Order",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 36
										},
										"sink": {
											"name": "Pilot_to_Berth",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 37
										},
										"sink": {
											"name": "Port_Days",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 38
										},
										"sink": {
											"name": "Port_Exp_Amount_Base",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 39
										},
										"sink": {
											"name": "Port_Exp_Amount_Local",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 40
										},
										"sink": {
											"name": "Port_Exp_Curr",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 41
										},
										"sink": {
											"name": "Port_Exp_Exch_Rate",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 42
										},
										"sink": {
											"name": "Port_Func",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 43
										},
										"sink": {
											"name": "Port_Name",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 44
										},
										"sink": {
											"name": "Port_No",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 45
										},
										"sink": {
											"name": "Port_Status_Code",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 46
										},
										"sink": {
											"name": "Sea_Days",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 47
										},
										"sink": {
											"name": "Seq",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 48
										},
										"sink": {
											"name": "Speed_From_Port",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 49
										},
										"sink": {
											"name": "Speed_Instruction_Type",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 50
										},
										"sink": {
											"name": "Speed_to_Port",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 51
										},
										"sink": {
											"name": "Vessel_Code",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 52
										},
										"sink": {
											"name": "Via",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 53
										},
										"sink": {
											"name": "Voyage_No",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 54
										},
										"sink": {
											"name": "Weather_Factor_From_Port",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "Decimal",
											"ordinal": 55
										},
										"sink": {
											"name": "Weather_Factor_to_Port",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 56
										},
										"sink": {
											"name": "Remarks_Fixture",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 57
										},
										"sink": {
											"name": "Remarks_Operations",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 58
										},
										"sink": {
											"name": "UN_Code",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 59
										},
										"sink": {
											"name": "Country",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 60
										},
										"sink": {
											"name": "Area",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 61
										},
										"sink": {
											"name": "Port_Range",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 62
										},
										"sink": {
											"name": "Port_Region",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 63
										},
										"sink": {
											"name": "Low_Sulfur_ECA",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 64
										},
										"sink": {
											"name": "Name",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "IMOS_Report_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_Single_Copy",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Parquet_Single_Copy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IterateAndCopySQLTables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateSQLTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tableList",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.02:00:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "SELECT * FROM @{item().tablename}",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"maxConcurrentConnections": 10
											}
										},
										"enableStaging": false,
										"parallelCopies": 4,
										"enableSkipIncompatibleRow": true,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false,
												"dateTimeFormat": "dd-MMM-yy"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Oracle_danaos_production",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Parquet1",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().filename",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"tableList": {
						"type": "array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-09-07T01:21:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Oracle_danaos_production')]",
				"[concat(variables('factoryId'), '/datasets/Parquet1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IterateAndCopySQLTables_incremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateSQLTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tableList",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.02:00:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "@{item().tablename}",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"maxConcurrentConnections": 10
											}
										},
										"enableStaging": false,
										"parallelCopies": 4,
										"enableSkipIncompatibleRow": true,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false,
												"dateTimeFormat": "dd-MMM-yy"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Oracle_danaos_production",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Parquet1",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().filename",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"tableList": {
						"type": "array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-27T06:34:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Oracle_danaos_production')]",
				"[concat(variables('factoryId'), '/datasets/Parquet1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Power Bi Usage Metric Update')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Oauth2 Login",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantId,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat('grant_type=password&scope=openid&resource=https://analysis.windows.net/powerbi/api&client_id=',pipeline().parameters.SPClientId,'&client_secret=',encodeUriComponent(pipeline().parameters.SPSecret),'&username=',pipeline().parameters.UserName,'&password=',encodeUriComponent(pipeline().parameters.Password))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Last Value Look Up",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat('[',pipeline().parameters.SchemaName,'].[DeterminePBLastUsageQueryTime]')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PowerBI_SQL_DB",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "aaaaaa"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Last Value Look Up",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Oauth2 Login",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Last Value Look Up').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Insert Usage Metrics",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "InsertPowerBIUsageMetrics",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"StartDateTime": {
												"value": "@item().StartDateTime",
												"type": "Expression"
											},
											"EndDateTime": {
												"value": "@item().EndDateTime",
												"type": "Expression"
											},
											"Token": {
												"value": "@concat(string(activity('Oauth2 Login').output.token_type),' ',string(activity('Oauth2 Login').output.access_token))",
												"type": "Expression"
											},
											"SchemaName": {
												"value": "@pipeline().parameters.SchemaName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Drop Duplicate Data",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@concat('[',pipeline().parameters.SchemaName,'].[DropDuplicateRawPowerBIStaging]')",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transform",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Drop Duplicate Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@concat('[',pipeline().parameters.SchemaName,'].[TransformPBStagingToFact]')",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Staging To Raw",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transform",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@concat('[',pipeline().parameters.SchemaName,'].[PowerBIStagingToRaw]')",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Clear Staging",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Staging To Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('TRUNCATE TABLE [',pipeline().parameters.SchemaName,'].RAW_POWERBI_ACTIVITY_LOG_STAGING;\nSELECT 1 as res;')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PowerBI_SQL_DB",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "Test.RAW_POWERBI_ACTIVITY_LOG_STAGING"
								}
							}
						}
					}
				],
				"parameters": {
					"TenantId": {
						"type": "String",
						"defaultValue": "cc3f0441-9868-4f81-a6f2-6d91c68fe354"
					},
					"SPClientId": {
						"type": "String",
						"defaultValue": "70ac25e2-0500-4b93-affa-583ef8b28d5a"
					},
					"SPSecret": {
						"type": "String",
						"defaultValue": "3NYx_dDlH~_KkC_XwA24-5M4OiFyR5xM9H"
					},
					"UserName": {
						"type": "string",
						"defaultValue": "thao.nguyen@justanalytics.com"
					},
					"Password": {
						"type": "string",
						"defaultValue": "Nplt@June"
					},
					"SchemaName": {
						"type": "string",
						"defaultValue": "dbo"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-09-01T08:03:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TrackGuzzleBatchRun')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WaitForAllStagesToFinish",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.stages",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@not(variables('failureFlag'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "WaitUntilStageFinished",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "TrackGuzzleStageRun",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"stage": {
															"value": "@concat(trim(item()), '_status')",
															"type": "Expression"
														},
														"batch_id": {
															"value": "@pipeline().parameters.batch_id",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "Set Failure Flag",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "WaitUntilStageFinished",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "failureFlag",
													"value": true
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "RaiseExceptionIfFailure",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "WaitForAllStagesToFinish",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "status",
							"value": {
								"value": "@if(variables('failureFlag'), 1, 'SUCCESS')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"batch_id": {
						"type": "string"
					},
					"stages": {
						"type": "array"
					}
				},
				"variables": {
					"failureFlag": {
						"type": "Boolean"
					},
					"status": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-07-17T16:07:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/oracle_copy_blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OracleTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-07-01T06:39:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OracleTable1')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_single_copy_job')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": false,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "dd-MMM-yy"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OracleTable_Single_Use",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_Single_Copy",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-08-10T02:40:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OracleTable_Single_Use')]",
				"[concat(variables('factoryId'), '/datasets/Parquet_Single_Copy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_single_copy_job_AGNIT_TESTING')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select * from tankpac.supply_items where (ORDER_CODE,ORDER_SUPPLIER) in (select ORDER_CODE,ORDER_SUPPLIER from  tankpac.requisitions where extract(year from document_date) in (extract(year from sysdate),extract(year from sysdate)-1))",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": false,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "dd-MMM-yy"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OracleTable_Single_Use_AGNIT_TESTING",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_Single_Copy_AGNIT_TESTING",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-08-14T03:31:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OracleTable_Single_Use_AGNIT_TESTING')]",
				"[concat(variables('factoryId'), '/datasets/Parquet_Single_Copy_AGNIT_TESTING')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_single_copy_job_danaos_prod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": false,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Oracle_danaos_production",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_production",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-08-04T02:51:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Oracle_danaos_production')]",
				"[concat(variables('factoryId'), '/datasets/Parquet_production')]"
			]
		}
	]
}